.Chat {
	display: flex;
	width: 25vw;
	flex-direction: column;
	height: 100%;
	border: 4px solid #da0000;
	background-color: #eee;
	overflow-y: auto;
	overflow-x: hidden;
	align-self: end;
}

.Chat-input {
	padding: 5px;
	font-size: 14px;
}
.Chat-button {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 14px;
	background-color: #3737ff;
	cursor: pointer;
}

.Chat-button:hover {
	color: #fff;
}

.Chat-history {}
