.Item {
	margin: 2px;
	height: 10vw;
	width: 10vw;
	background-color: #fff;
}

.Item-sign--zero,
.Item-sign--cross,
.Item-sign--empty {
	padding-top: 0.7vw;
	padding-left: 0.15vw;
	font-size: 5vw;
	height: 10vw;
	width: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.Item-sign--empty:hover {
	transition: all 0.1s ease-out;
	background-color: #ff5536;
	cursor: pointer;
}
